.eventCard {
  border: 1px solid #aaa;
  padding: 20px;
  margin: 15px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

input:focus {
  outline: 2px solid blue;
}

/* Compare these two in DevTools */
.hidden {
  visibility: hidden;
}
.not-displayed {
  display: none;
}
